services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ch
      MYSQL_USER: chuser
      MYSQL_PASSWORD: chpass
    volumes:
      - dbdata:/var/lib/mysql

  web:
    image: ${WEB_IMAGE:-cogent-house-web:local}
    build: .
    command:
      - uv
      - run
      - gunicorn
      - -b
      - 0.0.0.0:8000
      - --workers=3
      - --threads=2
      - --timeout=60
      - --forwarded-allow-ips=*
      - --access-logfile=-
      - --error-logfile=-
      - --worker-tmp-dir
      - /dev/shm
      - cogent.app:app
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - /home/pi/silicon:/data/silicon
      - /home/chuser/auth2.pickle:/data/auth2.pickle
    environment:
      CH_DBURL: mysql://chuser:chpass@db/ch?connect_timeout=1
      LOGFROMFLAT_DIR: /data/silicon
    restart: always

volumes:
  dbdata:
