{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages:['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var json_data = new google.visualization.DataTable({{ json_data|safe }}, 0.6);
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var options = {{ options|tojson }};
        if (options.hAxis && options.hAxis.viewWindow) {
          options.hAxis.viewWindow.min = new Date(options.hAxis.viewWindow.min);
          options.hAxis.viewWindow.max = new Date(options.hAxis.viewWindow.max);
        }
        chart.draw(json_data, options);
      }
    </script>
{% endblock %}
{% block content %}
<form method="get" class="mb-3">
  <label for="typ" class="form-label">Sensor type</label>
  <input type="hidden" name="node" value="{{ node_id }}">
  <input type="hidden" name="period" value="{{ period }}">
  <input type="hidden" name="ago" value="{{ ago }}">
  <select name="typ" id="typ" class="form-select" onchange="this.form.submit()">
    {% for st in sensor_types %}
      <option value="{{ st.id }}"{% if st.id == typ %} selected{% endif %}>{{ st.name }}</option>
    {% endfor %}
  </select>
</form>
<p>
{% for k in periods %}
    {% if k == period %}
        {{ k }}
    {% else %}
        <a href="{{ url_for('graph.node_graph', node=node_id, typ=typ, period=k) }}" title="change period to {{ k }}">{{ k }}</a>
    {% endif %}
{% endfor %}
</p>
<p>
<a href="{{ url_for('graph.node_graph', node=node_id, typ=typ, period=period, ago=ago + 1) }}">&lt;&lt;</a>
{% if ago > 0 %}
    &mdash; <a href="{{ url_for('graph.node_graph', node=node_id, typ=typ, period=period, ago=ago - 1) }}">&gt;&gt;</a>
{% endif %}
</p>
<div id="grphtitle">{{ heading }}</div>
<div id="chart_div" style="width: 700px; height: 390px;"></div>
{% endblock %}
