body,
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f0f2f5;
}

.main-container {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

a {
    color: #2155ab;
    text-decoration: none;
}

a:hover {
    color: #3b7be5;
    text-decoration: none;
}

